---
import BaseLayout from "@layouts/Base.astro";
import { getAllBlogPosts } from "@lib/article";

const blogPosts = await getAllBlogPosts();
---

<BaseLayout title="Jay's blog">
	<div class="flex flex-col gap-y-3 py-8 text-center">
		<h1 class="text-3xl">Jay's blog</h1>
		<h2 class="text-lg text-zinc-500">
			a collection of ideas, incoherent ramblings, etc...
		</h2>
	</div>

	<ul class="flex flex-col gap-y-2">
		{
			blogPosts.map((post) => {
				const { title, publishDate } = post.data;
				return (
					<li class="text-sm">
						<a
							href={`/blog/${post.slug}`}
							class="flex justify-between gap-x-5"
						>
							<h3 class="underline underline-offset-2">{title}</h3>

							<time
								datetime=""
								class="text-nowrap text-sm font-bold text-zinc-700"
							>
								{publishDate.toLocaleString("en-AU", {
									timeZone: "Australia/Sydney",
									month: "short",
									day: "numeric",
									year: "numeric",
								})}
							</time>
						</a>
					</li>
				);
			})
		}
	</ul>
</BaseLayout>
