---
import ArticleCard from "@components/ArticleCard.astro";
import { getAllProjects } from "src/utils/article";

const projects = await getAllProjects();
---

<section>
	<h2 class="pb-2 font-bold underline">All Projects</h2>

	<ul>
		{
			projects.map((proj) => (
				<li>
					<ArticleCard article={proj} />
				</li>
			))
		}
	</ul>
</section>
