---
import { getAllProjects } from "@lib/article";
import SectionHeading from "./SectionHeading.astro";
import NeoCard from "@components/NeoCard.astro";
import HoverLink from "@components/HoverLink.astro";

const projects = await getAllProjects();
---

<section>
	<SectionHeading id="projects">Projects</SectionHeading>

	<ul class="space-y-5">
		{
			projects.map((project) => (
				<li>
					<NeoCard variant="indigo">
						<h3>
							<HoverLink href={`/projects/${project.slug}`}>
								{project.data.title}
							</HoverLink>
						</h3>
					</NeoCard>
				</li>
			))
		}
	</ul>
</section>
