---
import ProjectCard from "@components/ProjectCard.astro";
import { getAllProjects } from "@lib/article";
import SectionHeading from "./SectionHeading.astro";

const projects = await getAllProjects();
---

<section>
	<SectionHeading id="projects">Projects</SectionHeading>

	<ul class="space-y-5">
		{
			projects.map((project) => (
				<li>
					<ProjectCard {project} />
				</li>
			))
		}
	</ul>
</section>
