---
import { getAllBlogPosts } from "@lib/article";
import SectionHeading from "./SectionHeading.astro";

const blogPosts = await getAllBlogPosts();
---

<section>
	<SectionHeading id="blog">Blog</SectionHeading>

	<ul>
		{
			blogPosts.map((post) => {
				const { title, publishDate } = post.data;
				return (
					<li class="text-base">
						<a
							href={`/${post.slug}`}
							class="flex justify-between gap-x-4"
						>
							<h3 class="underline">{title}</h3>
							<time
								datetime=""
								class="text-nowrap"
							>
								{publishDate.toLocaleString("en-AU", {
									timeZone: "Australia/Sydney",
									month: "short",
									day: "numeric",
									year: "numeric",
								})}
							</time>
						</a>
					</li>
				);
			})
		}
	</ul>
</section>
