---
import { getAllBlogPosts } from "@utils/article";

const blogPosts = await getAllBlogPosts();
---

<section>
	<h2 class="pb-2 font-bold underline">Blog</h2>

	<ul>
		{
			blogPosts.map((post) => (
				<li>
					<p>{post.slug}</p>
				</li>
			))
		}
	</ul>
</section>
