---
import Card from "@components/Card.astro";
import { getCollection } from "astro:content";

const contributions = await getCollection("contributions");
contributions.sort(
	(a, b) => a.data.publishDate.getTime() - b.data.publishDate.getTime(),
);
---

<section>
	<h2 class="pb-2 font-bold underline">Open Source Contributions</h2>

	<ul>
		{
			contributions.map((contribution) => {
				const { projectName, projectUrl, description, url } = contribution.data;

				return (
					<li>
						<Card>
							<div class="flex justify-between">
								<div>
									<a href={projectUrl}>
										<h3 class="tex font-bold underline">{projectName}</h3>
									</a>
									<p>{description}</p>
								</div>

								<a
									href={url}
									class="flex align-middle"
								>
									<button class="my-auto min-w-0 text-nowrap rounded-full border-2 border-b-4 border-r-4 border-black bg-red-400 px-2 active:border-b-2 active:border-r-2">
										goto pr
									</button>
								</a>
							</div>
						</Card>
					</li>
				);
			})
		}
	</ul>
</section>
