<section>
	<h2 class="pb-2 font-bold underline">Open Source Contributions</h2>

	<ul>
		<li class="flex justify-between">
			<div>
				<a href="https://github.com/TheOdinProject/curriculum">
					<h3 class="underline">TheOdinProject / curriculum</h3>
				</a>
				<p>Fixed a broken link in the "Join the Odin Community"</p>
			</div>
			<button class="bg-red-600">
				<a href="https://github.com/TheOdinProject/curriculum/issues/27018">
					goto pr
				</a>
			</button>
		</li>

		<hr />
	</ul>
</section>
