---
import Card from "@components/Card.astro";
import { getCollection } from "astro:content";

type ContributionURLDestination = "pull-request" | "issue" | "other";

const contributions = await getCollection("contributions");
contributions.sort(
	(a, b) => a.data.publishDate.getTime() - b.data.publishDate.getTime(),
);
---

<section>
	<h2 class="pb-2 text-lg font-bold before:pr-1 before:content-['#']">
		Open Source Contributions
	</h2>

	<ul>
		{
			contributions.map((contribution) => {
				const { projectName, projectUrl, description, url } = contribution.data;

				let urlDestinationType: ContributionURLDestination = "other";
				if (url.includes("/pull/")) {
					urlDestinationType = "pull-request";
				} else if (url.includes("/issues/")) {
					urlDestinationType = "issue";
				}

				return (
					<li>
						<Card>
							<div class="flex justify-between gap-x-4">
								<div>
									<a href={projectUrl}>
										<h3 class="tex font-bold underline">{projectName}</h3>
									</a>
									<p>{description}</p>
								</div>

								<a
									href={url}
									class="flex align-middle"
								>
									<button class="my-auto text-nowrap rounded-full border border-b-4 border-r-4 border-black bg-neo-red px-2 hover:bg-red-500 active:border-b-2 active:border-r-2">
										goto pr
									</button>
								</a>
							</div>
						</Card>
					</li>
				);
			})
		}
	</ul>
</section>
