---
import SectionHeading from "./SectionHeading.astro";
---

<section>
	<SectionHeading>Pinned Projects</SectionHeading>
	<div>
		<p>↓</p>
		<p>checkout the rest of my</p>
		<a href="/projects">
			<button class="bg-zinc-900 text-white">PROJECTS</button>
		</a>
	</div>
</section>
