<section>
	<h2 class="pb-2 text-lg font-bold before:pr-1 before:content-['#']">
		Pinned Projects
	</h2>
	<div>
		<p>↓</p>
		<p>checkout the rest of my</p>
		<a href="/projects">
			<button class="bg-zinc-900 text-white">PROJECTS</button>
		</a>
	</div>
</section>
