---
import HoverLink from "@components/HoverLink.astro";

interface Props {
	id?: string;
}

const { id } = Astro.props;
---

<h2
	class="pb-3 text-2xl before:content-['#']"
	{id}
>
	<HoverLink href={id ? `#${id}` : undefined}>
		<slot />
	</HoverLink>
</h2>
