---
import TextLink from "@components/TextLink.astro";

interface Props {
	id?: string;
}

const { id } = Astro.props;
---

<h2
	class="pb-2 text-lg font-bold before:content-['#']"
	{id}
>
	<TextLink href={id ? `#${id}` : undefined}>
		<slot />
	</TextLink>
</h2>
