---
import SkillsCarousel from "@components/SkillsCarousel.astro";
import SectionHeading from "./SectionHeading.astro";
---

<section>
	<SectionHeading id="stuff">Stuff I like Building With</SectionHeading>

	<div class="pt-5"></div>

	<SkillsCarousel />
</section>
