---
import SkillsCarousel from "@components/SkillsCarousel.astro";
import SectionHeading from "./SectionHeading.astro";
---

<section>
	<SectionHeading id="stuff">Stuff I like Building With</SectionHeading>
	<p class="text-zinc-500">(this was just an excuse to build a carousel)</p>
	<div class="pt-5"></div>

	<SkillsCarousel />
</section>
