---
import BaseLayout from "@layouts/Base.astro";
---

<BaseLayout title="Oops, not found">
	<section class="flex min-h-24 items-center">
		<p class="h-fit italic">404: page not found</p>
	</section>
</BaseLayout>
