---
import BaseLayout from "@layouts/Base.astro";
---

<BaseLayout>
	<h2 class="pb-2 font-bold underline">A Short History</h2>

	<div class="space-y-2">
		<p>Growing up, I always had a passion for everything tech.</p>

		<p>
			I've got a few core memories that I remember really solidifed this passion
			for tech, the experiences it can give us, and generally developed my
			desire and ability to problem solve.
		</p>

		<p>
			This includes things such as trying to figure out what a zip file was and
			how to open one so I could use Pivot Animator when I was like 7, googling
			"how to program" which resulted in an awful text adventure written using a
			batch file, and modding just about every game I got my hands on (I'm
			talking specifically about you Skyrim and Minecraft).
		</p>

		<p>
			These days I'm still just as passionate about tech, but I now come with
			more experience than just how to unzip stuff. Other technologies I like
			using include Astro, TypeScript, and Tailwind!
		</p>
	</div>
</BaseLayout>
