---
import SkillsCarousel from "@components/SkillsCarousel.astro";
import BaseLayout from "@layouts/Base.astro";
import Profile from "@assets/profile.jpg";

import WorkExperience from "@components/sections/WorkExperience.astro";
import Contributions from "@components/sections/Contributions.astro";
import AllProjects from "@components/sections/AllProjects.astro";
import Blog from "@components/sections/Blog.astro";
---

<BaseLayout>
	<div class="space-y-3">
		<section class="flex justify-between gap-x-3">
			<div class="max-w-44">
				<img
					src={Profile.src}
					alt="Cartoon rat quickly typing"
					class="rounded-3xl border-4 border-black"
				/>
			</div>
			<div class="space-y-2">
				<p>
					Hello! I'm Jay, a fullstack developer with experience building
					applications using React, Go, Node.js, and Postgres.
				</p>

				<p>
					I'm currently a dev at
					<a
						href="https://wearewelcome.com.au/"
						class="font-semibold underline"
						rel="noreferrer noopener"
					>
						welcome
					</a> working on a REST API built with Express.js and a React
					application.
				</p>

				<p>
					Get to know me a bit better <a
						href="/about"
						class="font-bold italic"
						>here.</a>
				</p>
			</div>
		</section>

		<WorkExperience />

		<Contributions />

		<!-- <PinnedProjects /> -->

		<AllProjects />

		<Blog />
	</div>

	<div class="pt-44"></div>

	<SkillsCarousel />

	<div class="pt-44"></div>
</BaseLayout>
