---
import SkillsCarousel from "@components/SkillsCarousel.astro";
import BaseLayout from "@layouts/Base.astro";
import TypingRat from "@assets/typing-rat.gif";

import WorkExperience from "@components/sections/WorkExperience.astro";
import Contributions from "@components/sections/Contributions.astro";
import PinnedProjects from "@components/sections/PinnedProjects.astro";
import About from "@components/sections/About.astro";
import AllProjects from "@components/sections/AllProjects.astro";
import Blog from "@components/sections/Blog.astro";
---

<BaseLayout>
	<div class="space-y-3">
		<section class="flex justify-between gap-x-3">
			<div>
				<img
					src={TypingRat.src}
					alt="Cartoon rat quickly typing"
					class="rounded-3xl"
				/>
			</div>
			<div class="space-y-2">
				<p>
					Hey there! I'm Jay, a fullstack developer with experience building
					applications using Golang, Node.js, React, and Postgres.
				</p>

				<p>
					I'm currently a Fullstack Developer at
					<a
						href="https://wearewelcome.com.au/"
						class="underline"
						rel="noreferrer noopener"
					>
						welcome.
					</a> working on a Node API and React application. If you wanna know
					more, feel free to take a look at
					<a
						href="/resume"
						class="underline"
					>
						my resume.
					</a>
				</p>
			</div>
		</section>

		<WorkExperience />

		<Contributions />

		<!-- <PinnedProjects /> -->

		<About />

		<AllProjects />

		<Blog />
	</div>

	<div class="pt-44"></div>

	<SkillsCarousel />

	<div class="pt-44"></div>
</BaseLayout>
