---
import BaseLayout from "@layouts/Base.astro";
import Profile from "@assets/profile.jpg";

import WorkExperience from "@components/sections/WorkExperience.astro";
import Contributions from "@components/sections/Contributions.astro";
import AllProjects from "@components/sections/AllProjects.astro";
import Blog from "@components/sections/Blog.astro";
import NeoCard from "@components/NeoCard.astro";
import Stuff from "@components/sections/Stuff.astro";
import { Image } from "astro:assets";
---

<BaseLayout>
	<div class="space-y-12">
		<section class="flex justify-between gap-x-5">
			<div class="max-w-96 sm:max-w-44">
				<NeoCard
					variant="green"
					class="p-1 pb-5"
				>
					<Image
						src={Profile}
						alt="Me"
						class="rounded-lg border-2 border-black"
					/>
				</NeoCard>
			</div>
			<div class="space-y-2">
				<p>
					Hello! I'm Jay, a fullstack developer with experience building
					applications using React, Go, Node.js, and Postgres.
				</p>

				<p>
					I'm currently a dev at
					<a
						href="https://wearewelcome.com.au/"
						class="font-semibold underline"
						rel="noreferrer noopener"
					>
						welcome.
					</a> Digital Agency working on a React application and a REST API
					built with Express.js.
				</p>

				<p>
					Get to know me a bit better
					<a
						href="/about"
						class="font-semibold underline"
					>
						here.
					</a>
				</p>
			</div>
		</section>

		<WorkExperience />

		<Contributions />

		<!-- <PinnedProjects /> -->

		<AllProjects />

		<Blog />

		<Stuff />
	</div>
</BaseLayout>
