---
import BaseLayout from "@layouts/Base.astro";
import Profile from "@assets/profile.jpg";

import WorkExperience from "@components/sections/WorkExperience.astro";
import Contributions from "@components/sections/Contributions.astro";
import AllProjects from "@components/sections/AllProjects.astro";
import NeoCard from "@components/NeoCard.astro";
import Stuff from "@components/sections/Stuff.astro";
import { Image } from "astro:assets";
import HoverLink from "@components/HoverLink.astro";
import Socials from "@components/Socials.astro";
---

<BaseLayout>
	<section
		class="flex flex-col items-center justify-around gap-x-7 gap-y-12 py-8 sm:flex-row"
	>
		<div class="flex flex-col justify-center">
			<h1 class="text-3xl">Jay Parry</h1>
			<h2 class="text-xl text-zinc-500 sm:text-nowrap">
				Software Engineer in Sydney
			</h2>
		</div>

		<div class="max-w-96 px-6 sm:max-w-64">
			<NeoCard
				variant="green"
				class="p-1 pb-5"
			>
				<Image
					src={Profile}
					alt="Me"
					class="rounded-lg border-2 border-black"
				/>
			</NeoCard>

			<div class="flex justify-center pt-4">
				<Socials />
			</div>
		</div>
	</section>

	<div class="mt-12"></div>

	<div class="space-y-14">
		<section class="justify-between">
			<div class="space-y-3">
				<p>
					Hello! I'm Jay, a fullstack developer with experience building
					applications using React, Go, Node.js, and Postgres.
				</p>

				<p>
					I'm currently a dev at
					<HoverLink
						href="https://wearewelcome.com.au/"
						rel="noreferrer noopener"
						class="font-bold hover:decoration-green-400"
					>
						welcome.
					</HoverLink> Digital Agency working on a React application and a REST
					API built with Express.js.
				</p>

				<p>
					Feel free to look around - checkout my <HoverLink
						href="/resources"
						underline="indigo"
						class="font-bold"
					>
						blog,
					</HoverLink> or some
					<HoverLink
						href="/resources"
						underline="indigo"
						class="font-bold"
					>
						resources
					</HoverLink>
					 I've put together. Or don't - it's up to you.
				</p>
			</div>
		</section>

		<WorkExperience />

		<AllProjects />

		<Stuff />

		<Contributions />
	</div>
</BaseLayout>
