---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";
import NeoCard from "./NeoCard.astro";

interface Props {
	article: CollectionEntry<"article">;
}

const { article } = Astro.props;
const { title, description, tags } = article.data;
---

<NeoCard variant="project">
	<a href={`/${article.slug}`}>
		<h3 class="font-semibold underline">
			{title}
		</h3>
	</a>

	<p>
		{description}
	</p>

	<div class="pt-4"></div>

	{
		tags && (
			<ul>
				{tags.map((tag) => (
					<span class="mb-2 mr-2 inline-block rounded-md border border-b-4 border-r-4 border-black px-5 text-center">
						{tag}
					</span>
				))}
			</ul>
		)
	}
</NeoCard>
