---
import type { CollectionEntry } from "astro:content";
import TagList from "./TagList.astro";
import TextLink from "./TextLink.astro";

interface Props {
	posts: CollectionEntry<"article">[];
}

const { posts } = Astro.props;
---

<ul class="space-y-9">
	{
		posts.map((post) => {
			const { title, description, publishDate, tags } = post.data;
			return (
				<li>
					<h3>
						<TextLink
							href={`/blog/${post.slug}`}
							class="text-xl"
						>
							{title}
						</TextLink>
					</h3>
					<time class="italic text-zinc-500">
						{publishDate.toLocaleString("en-AU", {
							timeZone: "Australia/Sydney",
							month: "short",
							day: "numeric",
							year: "numeric",
						})}
					</time>

					<p>{description}</p>

					<TagList {tags} />
				</li>
			);
		})
	}
</ul>
