---
import { cn } from "@lib/utils";
import Icon from "./Icon.astro";

const socialLinks: {
	title: string;
	icon: string;
	href: string;
	class?: string;
}[] = [
	{
		title: "GitHub",
		icon: "github",
		href: "https://github.com/Jaytpa01",
		class: "p-1",
	},
	{
		title: "LinkedIn",
		icon: "linkedin",
		href: "https://www.linkedin.com/in/jay-parry42/",
	},
	{
		title: "Email",
		icon: "email",
		href: "mailto:jaytpa01+dev@gmail.com",
	},
];
---

<header class="flex justify-between">
	<a
		href="/"
		class="hover:translate-y-1"
	>
		<h1 class="max-w-fit text-xl font-bold underline">JAY PARRY</h1>
	</a>

	<div class="flex gap-2">
		{
			socialLinks.map((link) => (
				<a
					href={link.href}
					rel="noopener noreferrer"
				>
					<Icon
						icon={link.icon}
						class={cn("h-8 w-8 fill-current text-zinc-700 ", link.class)}
						focusable="false"
					/>
					<span class="sr-only">{link.title}</span>
				</a>
			))
		}
	</div>
</header>
