---
import { cn } from "@lib/utils";
import Icon, { type IconName } from "./Icon.astro";

const socialLinks: {
	title: string;
	icon: IconName;
	href: string;
	class?: string;
}[] = [
	{
		title: "GitHub",
		icon: "github",
		href: "https://github.com/Jaytpa01",
		class: "bg-neo-red p-1",
	},
	{
		title: "LinkedIn",
		icon: "linkedin",
		href: "https://www.linkedin.com/in/jay-parry42/",
		class: "bg-blue-400",
	},
	{
		title: "Email",
		icon: "email",
		href: "mailto:jaytpa01+dev@gmail.com",
		class: "bg-yellow-400",
	},
	{
		title: "RSS Feed",
		icon: "rss",
		href: "/rss",
		class: "bg-orange-400",
	},
];
---

<header class="flex justify-between">
	<a
		href="/"
		class="transition duration-150 ease-in hover:translate-y-1"
	>
		<h1 class="max-w-fit text-xl font-bold underline">JAY PARRY</h1>
	</a>

	<div class="flex gap-2">
		{
			socialLinks.map((link, index) => {
				// rotate alternating icons in a different direction
				const rotageDegree =
					index % 2 === 0 ? "hover:-rotate-6" : "hover:rotate-6";

				return (
					<a
						href={link.href}
						rel="noopener noreferrer"
					>
						<div
							class={cn(
								"group relative hover:scale-105",
								"transition duration-200 ease-in-out",
								rotageDegree,
							)}
						>
							<div class="relative z-20">
								<Icon
									icon={link.icon}
									class={cn(
										"h-7 w-7 border-2 border-black fill-current text-black sm:h-8 sm:w-8",
										link.class,
									)}
									focusable="false"
								/>
								<span class="sr-only">{link.title}</span>
							</div>
							<div class="absolute left-1 top-1 h-7 w-7 bg-black sm:h-8 sm:w-8" />
						</div>
					</a>
				);
			})
		}
	</div>
</header>
