---
import { cn } from "@lib/utils";
import Icon from "./Icon.astro";

const socialLinks: {
	title: string;
	icon: string;
	href: string;
	class?: string;
}[] = [
	{
		title: "GitHub",
		icon: "github",
		href: "https://github.com/Jaytpa01",
		class: "p-1",
	},
	{
		title: "LinkedIn",
		icon: "linkedin",
		href: "https://www.linkedin.com/in/jay-parry42/",
		class: "bg-blue-400",
	},
	{
		title: "Email",
		icon: "email",
		href: "mailto:jaytpa01+dev@gmail.com",
		class: "bg-yellow-400",
	},
];
---

<header class="flex justify-between">
	<a
		href="/"
		class="hover:translate-y-1"
	>
		<h1 class="max-w-fit text-xl font-bold underline">JAY PARRY</h1>
	</a>

	<div class="flex gap-2">
		{
			socialLinks.map((link, index) => {
				const rotageDegree =
					index % 2 === 0 ? "group-hover:-rotate-6" : "group-hover:rotate-6";
				return (
					<a
						href={link.href}
						rel="noopener noreferrer"
					>
						<div class="group relative">
							<div class={cn("relative z-20", rotageDegree)}>
								<Icon
									icon={link.icon}
									class={cn(
										"h-7 w-7 border-2 border-black bg-neo-red fill-current text-black sm:h-8 sm:w-8",
										link.class,
									)}
									focusable="false"
								/>
								<span class="sr-only">{link.title}</span>
							</div>

							<div
								class={cn(
									"absolute left-1 top-1 h-7 w-7 bg-black sm:h-8 sm:w-8",
									rotageDegree,
								)}
							/>
						</div>
					</a>
				);
			})
		}
	</div>
</header>
