---
import { cn } from "@lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: classFromProps } = Astro.props;
---

<a
	{href}
	class={cn(
		"underline decoration-2 decoration-transparent underline-offset-2 transition duration-150 ease-in hover:decoration-black",
		classFromProps,
	)}
>
	<slot />
</a>
