---
import type { CollectionEntry } from "astro:content";
import NeoCard from "./NeoCard.astro";
import TextLink from "./TextLink.astro";

interface Props {
	project: CollectionEntry<"article">;
}

const { project } = Astro.props;
const { title } = project.data;
---

<NeoCard variant="indigo">
	<TextLink href={`/${project.slug}`}>
		<h3>
			{title}
		</h3>
	</TextLink>
</NeoCard>
