---
const skills = [
	{ name: "react", icon: "devicon-react-original" },
	{ name: "javascript", icon: "devicon-javascript-plain" },
	{ name: "typescript", icon: "devicon-typescript-original" },
	{ name: "tailwind", icon: "devicon-tailwindcss-plain" },
	{ name: "git", icon: "devicon-git-plain" },
	{ name: "npm", icon: "devicon-npm-original-wordmark" },
	{ name: "postgres", icon: "devicon-postgresql-plain" },
	{ name: "nodejs", icon: "devicon-nodejs-plain" },
	{ name: "go", icon: "devicon-go-original-wordmark" },
];
---

<div class="embla">
	<div class="embla__container gap-4">
		{
			skills.map((s) => (
				<div class="embla__slide min-w-fit text-center">
					<i class={`${s.icon} colored text-4xl`} />
					<p>{s.name}</p>
				</div>
			))
		}
	</div>
</div>

<style>
	.embla {
		overflow: hidden;
	}
	.embla__container {
		display: flex;
	}

	.embla__slide {
		flex: 0 0 12%;
		/* min-width: fit-content; */
	}
</style>

<script
	is:inline
	src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"
></script>

<script
	is:inline
	src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"
></script>

<script is:inline>
	const emblaNode = document.querySelector(".embla");
	const options = { loop: true, dragFree: true };
	const emblaApi = EmblaCarousel(emblaNode, options, [
		EmblaCarouselAutoplay({
			delay: 2000,
			// containScroll: "trimSnaps",
		}),
	]);

	console.log(emblaApi);

	console.log(emblaApi.slideNodes()); // Access API
</script>
