---
const skills = [
	{ name: "react", icon: "devicon-react-original" },
	{ name: "nextjs", icon: "devicon-nextjs-line" },
	{ name: "javascript", icon: "devicon-javascript-plain" },
	{ name: "typescript", icon: "devicon-typescript-original" },
	{ name: "sass", icon: "devicon-sass-original" },
	{ name: "tailwind", icon: "devicon-tailwindcss-plain" },
	{ name: "git", icon: "devicon-git-plain" },
	{ name: "webpack", icon: "devicon-webpack-plain" },
	{ name: "jest", icon: "devicon-jest-plain" },
	{ name: "npm", icon: "devicon-npm-original-wordmark" },
	{ name: "mongodb", icon: "devicon-mongodb-plain" },
];
---

<div class="embla">
	<div class="embla__container">
		{
			skills.map((s) => (
				<div class="skill embla__slide text-center">
					<i class={`${s.icon} colored text-4xl`} />
					<p>{s.name}</p>
				</div>
			))
		}
	</div>
</div>

<style>
	.embla {
		overflow: hidden;
	}
	.embla__container {
		display: flex;
	}

	.embla__slide {
		flex: 0 0 12%;
		min-width: 0;
	}
</style>

<script
	is:inline
	src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"
></script>

<script is:inline>
	const emblaNode = document.querySelector(".embla");
	const options = { loop: true, dragFree: true };
	const emblaApi = EmblaCarousel(emblaNode, options);

	console.log(emblaApi.slideNodes()); // Access API
</script>
