---
const skills = [
	{ name: "Astro", icon: "devicon-astro-plain" },
	{ name: "Go", icon: "devicon-go-original-wordmark" },
	{ name: "React", icon: "devicon-react-original" },
	{ name: "TypeScript", icon: "devicon-typescript-original" },
	{ name: "JavaScript", icon: "devicon-javascript-plain" },
	{ name: "Tailwind", icon: "devicon-tailwindcss-plain" },
	{ name: "Postgres", icon: "devicon-postgresql-plain" },
	{ name: "Node.js", icon: "devicon-nodejs-plain" },
];
---

<div class="embla">
	<div class="embla__container gap-4">
		{
			skills.map((s) => (
				<div class="embla__slide min-w-fit rounded-lg border border-b-4 border-r-4 border-black p-3 text-center hover:bg-zinc-200">
					<i class={`${s.icon} colored text-4xl`} />
					<p>{s.name}</p>
				</div>
			))
		}
	</div>
</div>

<style>
	.embla {
		overflow: hidden;
	}
	.embla__container {
		display: flex;
	}

	.embla__slide {
		flex: 0 0 20%;
		/* min-width: fit-content; */
	}

	.embla__slide:last-child {
		margin-right: 1rem;
	}
</style>

<script>
	import EmblaCarousel, { type EmblaOptionsType } from "embla-carousel";
	import Autoplay from "embla-carousel-autoplay";

	(() => {
		const emblaNodes = document.querySelectorAll<HTMLElement>(".embla");

		// make sure we have a node
		if (!emblaNodes) {
			return;
		}

		const options: EmblaOptionsType = { loop: true, dragFree: true };

		for (const node of emblaNodes) {
			const emblaApi = EmblaCarousel(node, options, [
				Autoplay({
					delay: 2500,
					stopOnInteraction: false,
					// containScroll: "trimSnaps",
				}),
			]);

			// Access API
			console.log(emblaApi.slideNodes());
		}
	})();
</script>
