---
import Icon, { type IconName } from "@components/Icon.astro";
const skills = [
	{ name: "Astro", icon: "astro" },
	{ name: "Go", icon: "go-gopher" },
	{ name: "React", icon: "react" },
	{ name: "TypeScript", icon: "typescript" },
	{ name: "JavaScript", icon: "javascript" },
	{ name: "Tailwind", icon: "tailwindcss" },
	{ name: "Postgres", icon: "postgres" },
	{ name: "Node.js", icon: "nodejs" },
];
---

<div class="embla overflow-hidden">
	<div class="flex gap-4">
		{
			skills.map((s) => (
				<div class="min-w-32 flex-[0_0_20%] space-y-2 rounded-lg border border-b-4 border-r-4 border-black p-3 text-center last:mr-[1rem] hover:bg-zinc-200">
					<Icon
						icon={s.icon as IconName}
						class="mx-auto w-5/12"
					/>

					<p>{s.name}</p>
				</div>
			))
		}
	</div>
</div>

<script>
	import EmblaCarousel, { type EmblaOptionsType } from "embla-carousel";
	import Autoplay from "embla-carousel-autoplay";

	(() => {
		const emblaNodes = document.querySelectorAll<HTMLElement>(".embla");

		// make sure we have a node
		if (!emblaNodes) {
			return;
		}

		const options: EmblaOptionsType = { loop: true, dragFree: true };

		for (const node of emblaNodes) {
			const emblaApi = EmblaCarousel(node, options, [
				Autoplay({
					delay: 2500,
					stopOnInteraction: false,
					// containScroll: "trimSnaps",
				}),
			]);

			// Access API
			emblaApi.slideNodes();
		}
	})();
</script>
