---
import { cn, getRandomUnderlineColor } from "@lib/utils";

interface Props {
	tags?: string[];
}

const { tags } = Astro.props;
---

{
	tags && (
		<ul class="flex flex-wrap gap-x-2 text-sm">
			{tags.map((tag) => (
				<li>
					<a
						href={`/tag/${tag}`}
						class={cn(
							"before:content-['#']",
							"underline decoration-2 underline-offset-2",
							getRandomUnderlineColor(),
						)}
					>
						{tag}
					</a>
				</li>
			))}
		</ul>
	)
}
