---
import { cn, getRandomUnderlineColor } from "@lib/utils";
import TextLink from "./TextLink.astro";

interface Props {
	tags?: string[];
}

const { tags } = Astro.props;
---

{
	tags && (
		<ul class="flex flex-wrap gap-x-2 text-sm">
			{tags.map((tag) => (
				<li>
					<TextLink
						href={`/tag/${tag}`}
						class={cn("before:content-['#']", getRandomUnderlineColor())}
					>
						{tag}
					</TextLink>
				</li>
			))}
		</ul>
	)
}
