---
import { getAllBlogTags, getBlogPostsByTag } from "@lib/article";
import BaseLayout from "@layouts/BaseLayout.astro";
import ArticleList from "@components/ArticleList.astro";
import TagList from "@components/TagList.astro";

export async function getStaticPaths() {
	const tags = await getAllBlogTags();
	return tags.map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params;
const posts = await getBlogPostsByTag(tag);

const allTags = await getAllBlogTags();
---

<BaseLayout title={tag}>
	<h2 class="py-7 text-center text-lg text-zinc-500">
		all posts tagged with <span class="font-bold">{tag}</span>
	</h2>

	<ArticleList articles={posts} />

	<div class="flex flex-col items-center pt-8">
		<p class="text-center">view posts by tag</p>
		<TagList tags={allTags} />
	</div>
</BaseLayout>
