---
import { getAllBlogTags, getBlogPostsByTag } from "@lib/article";
import BlogLayout from "@layouts/Blog.astro";
import BlogPostList from "@components/BlogPostList.astro";

export async function getStaticPaths() {
	const tags = await getAllBlogTags();
	return tags.map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params;
const posts = await getBlogPostsByTag(tag);
---

<BlogLayout>
	<h2 class="pb-8 text-center text-lg text-zinc-500">
		all posts tagged with <span class="font-bold">{tag}</span>
	</h2>
	<BlogPostList {posts} />
</BlogLayout>
