---
import PreloadFonts from "@components/PreloadFonts.astro";
import Footer from "@components/Footer.astro";
import Navigation from "@components/Navigation.astro";
import SEO from "@components/SEO.astro";
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>

		<link
			rel="sitemap"
			href="/sitemap-index.xml"
		/>

		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>

		<SEO
			title={title}
			description={description}
		/>

		<PreloadFonts />

		<slot name="rich-results" />
	</head>
	<body
		class="min-h-screen bg-zinc-100 font-mono leading-6 selection:bg-red-300/40"
	>
		<Navigation />

		<div class="mx-auto max-w-2xl px-6 pb-9">
			<main>
				<slot />
			</main>

			<div class="mt-12">{/* spacer element */}</div>
			<Footer />
		</div>

		<!-- Cloudflare Web Analytics -->
		<script
			is:inline
			type="text/partytown"
			defer
			src="https://static.cloudflareinsights.com/beacon.min.js"
			data-cf-beacon='{"token": "ddaf038e191e4fa4a9f0fc73af7b1f56"}'
		></script>
		<!-- End Cloudflare Web Analytics -->
	</body>
</html>
