---
import { links } from "./links";
---

<!-- <nav class="sticky top-0 z-50 min-h-16 w-full bg-neo-red">
	<div class="mx-auto flex h-16 max-w-[1440px] justify-between">
		<a href="/">
			<div class="flex h-16 w-fit items-center bg-neo-yellow px-3">
				<h1 class="text-center text-xl font-bold underline">JAY PARRY</h1>
			</div>
		</a>

		<button
			aria-label="Toggle Mobile Navigation"
			class="pr-3 md:hidden"
			id="mobile-nav-toggle"
		>
			<svg
				viewBox="0 0 33 24"
				width="33"
				xmlns="http://www.w3.org/2000/svg"
				class="stroke-black"
			>
				<path
					d="M2 2h28.3M2 12h28.3M2 22h28.3"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="10"
					stroke-width="4"
				>
				</path>
			</svg>
		</button>
	</div>
</nav>

<div
	class="bg-green fixed inset-y-16 z-10 hidden h-full w-full bg-neo-yellow md:hidden"
	id="mobile-nav-modal"
	aria-hidden="true"
>
	<ul>
		{
			links.map((link) => (
				<li>
					<a href={link.href}>{link.label}</a>
				</li>
			))
		}
	</ul>
</div>

<script>
	const mobileModal = document.getElementById("mobile-nav-modal");
	const mobileNavToggle = document.getElementById("mobile-nav-toggle");

	function toggleMobileModal() {
		console.log("awa");
		if (!mobileModal) {
			return;
		}

		mobileModal.classList.toggle("hidden");
		mobileModal.ariaHidden =
			mobileModal?.ariaHidden === "true" ? "false" : "true";
	}

	mobileNavToggle?.addEventListener("click", toggleMobileModal);
</script> -->
<div class="mx-auto max-w-3xl md:flex md:justify-between">
	<a
		href="/"
		class="hover:translate-y-1"
	>
		<h1 class="text-xl font-bold underline">JAY PARRY</h1>
	</a>

	<ul class="flex space-x-2">
		{
			links.map((link) => (
				<li class="hover:translate-y-1 hover:underline">
					<a href={link.href}>{link.label}</a>
				</li>
			))
		}
	</ul>
</div>
